.App {
  /* text-align: center; */
  border: 1px solid rgb(52, 13, 97);
  width: 35%;
  padding: 30px;
  font-family: Sans-serif;
  background-color: rgba(144, 151, 211, 0.562);
  min-height: 21vw;
  margin: 5vw auto;
}
label, input{
  display: block;
  margin: 30px 0px;
}
input{
  width: 90%;
  height: 25px;
  padding: 5px;
  font-size: 1.1vw;
}
button{
  font-size: 1.2vw;
  border: none;
  background-color: rgb(5, 94, 129);
  cursor: pointer;
  color: white;
  font-weight: 600;
  padding: 8px 25px;
}
#result{
  color: rgb(16, 19, 175);
  font-weight: 500;
  font-size: 1.4vw;
  margin-top: 3vw;
}